@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Staatliches&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Staatliches;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: black;
}
li, a, button, p{
    font-family: Staatliches;
    font-size: 15px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    font-size: 30px;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    -webkit-text-stroke: 0.5px white;
    color: black;
    -webkit-font-smoothing: antialiased;
}

.intro{
    padding: 30px 10%;
}

.intro .text1{
    font-size: 100px;
    color: #edf0f1;
    margin-bottom: 0%;
}
.intro .p{
    margin: 0%;
    font-family: Roboto Flex;
}
.latest-story{
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
}
.text{
    padding: 30px 10%;
    font-size: 30px;
    color: #edf0f1;  
}
.latest-story-content{
    width: auto;
    height: auto;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.latest-story-content .club{
    width: auto;
    height: 2;
    padding: 10px;
}
.latest-story-content a{
    transition: all 0.3s ease 0s;
}
.latest-story-content a:hover{
    opacity: 50%;
}

.latest-story-headline{
    font-size: x-large;
    padding: 10px;
}
.latest-story-headline a:hover{
    color: blue;
}

.latest-story-summary{
    color: #edf0f1;
    padding: 10px;
    font-size: medium;
    font-family: Roboto Mono;
}